<config xmlns:nc="urn:ietf:params:xml:ns:netconf:base:1.0">
    <routing-policy xmlns="http://openconfig.net/yang/routing-policy">
        <defined-sets>
            <prefix-sets>
                <prefix-set nc:operation="delete">{% for prefixset in prefix_sets %}
                        <prefix-set-name>{{ prefixset.name }}</prefix-set-name>{% endfor %}
                </prefix-set>
            </prefix-sets>
        </defined-sets>
    </routing-policy>
</config>