<filter>
    <routing-policy xmlns="http://openconfig.net/yang/routing-policy">
        <defined-sets>
            <prefix-sets>
                <prefix-set>{% for prefixset in prefix_sets %}
                    <prefix-set-name>{{ prefixset.name }}</prefix-set-name>{% endfor %}
                </prefix-set>
            </prefix-sets>
        </defined-sets>
    </routing-policy>
</filter>