<filter>
    <routing-policy xmlns="http://openconfig.net/yang/routing-policy">
        <defined-sets>
            <prefix-sets>
            </prefix-sets>
        </defined-sets>
    </routing-policy>
</filter>