<config>
    <routing-policy xmlns="http://openconfig.net/yang/routing-policy">
        <defined-sets>
            <prefix-sets>
                <prefix-set operation="create">{% for prefixset in prefix_sets %}
                    <prefix-set-name>{{ prefixset.name }}</prefix-set-name>
                    <prefixes>{% for prefix in prefixset.prefixes %}
                        <prefix>
                            <ip-prefix>{{ prefix.prefix }}</ip-prefix>
                            <masklength-range>{{ prefix.mask | default ('exact')}}</masklength-range>
                        </prefix>{% endfor %}
                    </prefixes>{% endfor %}
                </prefix-set>
            </prefix-sets>
        </defined-sets>
    </routing-policy>
</config>